@page
<div class="container">
    <div class="container mt-5">
@*        <form>
            <div class="form-group">
                <label for="userid">User ID:</label>
                <input type="text" class="form-control" id="message" name="Message">
            </div>

           <div class="form-group">
                <label for="number">Number:</label>
                <input type="number" class="form-control" id="number" name="number">
            </div>

            <div class="form-group" id="taskContainer">
                <label for="tasks">Tasks:</label>
                <input type="text" class="form-control task-input" name="task">
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-primary mr-2" onclick="addTask()">Add Task</button>
                <button type="submit" id="submitRequest" class="btn btn-primary">Submit</button>
                <button type="submit" id="test" class="btn btn-primary">Test</button>
                <button type="button" id="cancelRequest" class="btn btn-secondary">Cancel</button>
            </div>
        </form>*@
    </div>

    <script>
       

    </script>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


